.discriptionPrice{
    font-size: 16px;
}
.discriptionPrice img{
    user-select: none;
    width: 300px;
    border-radius: 0px 0px 20px 20px;
}
.discriptionPrice h1{
    margin-right: 40px;
    text-align: left;
    font-size: 25px;
    margin-top: 55px;
    margin-bottom: 20px;
}
.discriptionPrice p{
    padding: 0px 10px;
    text-align: justify;
    text-indent: 25px;
}
.windowMenu {
    min-height: 449px;
}
