.discriptionPrice{
    font-size: 16px;
}
.mainImg{
    background-size: cover;
    height: 219px;
    user-select: none;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px 20px 0px 0px;
    display: grid;
    place-items: center;
    border-bottom: 2px solid rgb(128, 0, 255);
}
.mainImg h1{
    text-align: center;
    font-size: 25px;
    padding: 10px;border-radius: 20px;box-shadow: inset -2000px -200px 20px 0px rgb(128 0 255 / 50%), 0px 0px 50px 0px rgb(128, 0, 255);
}
.discriptionPrice p{
    padding: 0px 10px;
    text-align: justify;
    text-indent: 25px;
}
.windowMenu {
    min-height: 449px;
}
