.windowMenu1{
    margin-top: 480px;
    margin-bottom: 20px;
    transition: 0.5s;
    box-shadow: 0 0 20px 5px rgb(128, 0, 255);
    border: 2px solid rgb(128, 0, 255);
    border-radius: 20px;
    background-color: rgb(27, 27, 27);
    width: 350px;
}
.rotationSpan1{
    transform: rotate(45deg);
}
.rotationSpan2{
    transform: rotate(-45deg);
}
.hide{
    transition: 0.5s;
    visibility: visible;
    opacity:0;
    margin-top: -20px;
}
.buttonMenuNavigation1{
    height: 100%;
    font-size: 20px;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.buttonNavigation{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.buttonNavigation a{
    -webkit-tap-highlight-color: transparent;
    margin: 10px;
    text-align: center;
    height: 50px;
    width: 100%;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid rgb(128, 0, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonNavigation a:hover{
    color: white;
    background-color: rgb(128, 0, 255);
}